# @format
# This is a basic workflow to help you get started with Actions
name: widget-server pipe

# Controls when the workflow will run
on: # Triggers the workflow on push or pull request events but only for the main branch
  push: # Triggers the workflow on push events but only for the main branch
    branches: # List of branches to trigger the workflow on push events
      - main # Triggers the workflow on push events but only for the main branch

jobs: # A workflow run is made up of one or more jobs that can run sequentially or in parallel
  build: # This workflow contains a single job called "build"
    name: Build # The name of the job is "Build"
    runs-on: ubuntu-latest # The type of runner that the job will run on
    steps: # A job contains a sequence of tasks called steps that will be executed as part of the job
      - name: Checkout # The name of the step is "Checkout"
        #uses: actions/checkout@v4 # This step uses the "actions/checkout" action to check out the repository's code
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{steps.login-ecr.outputs.registry}}/${{ steps.generate-tag.outputs.sha }}
